.cross-button-group{
	margin-top : 20px; 
	margin-bottom : 20px;
}

.cross-table{
	clear:both; 
	margin-top:20px;
}

.cross-question .custom-text{
	width : 70% !important;
}

.custom-text{
	width : auto !important;
}

.select-list.custom-scroll ul{
	width : 100% !important;
}

.chart-form .custom-select-control, .chart-form .custom-select-control ul{
	width : 120%;
}

.survey-pemilu h3{
	margin-top : 30px !important;
}

.compare-survey .col-md-6:nth-child(1) p {
	text-align: justify;
}

/* Selectic scroll */
.scroll-drag{
	background-color: #A1A1A1 !important;
}

.select-scroll{
	background-color: #D2D2D2 !important;
}
/* end */