.cross-button-group{
	margin-top : 20px; 
	margin-bottom : 20px;
	float :right;
	width :auto;
}

.cross-table{
	clear:both; 
	margin-top:20px;
}

.cross-question .custom-text{
	width : 70% !important;
}

.custom-text{
	width : auto !important;
}

.select-list.custom-scroll ul{
	width : 100% !important;
}

.chart-form .custom-select-control, .chart-form .custom-select-control ul{
	width : 120%;
}

.survey-pemilu h3{
	margin-top : 30px !important;
	margin-bottom : 10px !important;
}

.survey-pemilu p{
	font-size : 150% !important;
}

.compare-survey .col-md-6:nth-child(1) p {
	text-align: justify;
}

/* Selectic scroll */
.scroll-drag{
	background-color: #A1A1A1 !important;
}

.select-scroll{
	background-color: #D2D2D2 !important;
}
/* end */

.header-select .select2-container{
	width : 31% !important;
	margin : 10px !important;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3) !important;
            box-shadow: 0 0 10px rgba(0, 0, 0, .3) !important;
}

/*.header-select .select2-container .select2-choice{
	height : 40px !important;
}*/

.select2-container .select2-choice > .select2-chosen{
	margin-top: 8px;
}

.cross-question .select2-container{
	width: 100%;
}

.cross-question .select2-container .select2-choice{
	background-color: #f1f1f1 !important;
}

.cross-question .select2-drop{
	background-color: #f1f1f1 !important;	
}

.loading-flag {
	margin: 5% auto 5% auto;
}

.custom-select-control-custom-text{
  overflow:     hidden;
  height:       46px;
  line-height:    10px;
  padding:      0 42px 0 15px;
  color:        #ffffff;
  text-align: left;
  font-family: "DINNextLTPro-Bold";
  font-size: 16px;
  text-transform: uppercase;
  }

.chart-pagination li:first-child .orange-bg, .chart-pagination li:last-child .orange-bg{
	width: 200px !important;
}

.chart, .compare-survey{
	margin: auto !important;
}

.filter{
	padding: 10px 0 !important;
}

.cross-back {
	margin-bottom: 20px;
}

