.ms-container{
	width: 800px !important;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
	width : 48% !important;
}

.ms-container .ms-list{
	height: 500px !important;
}

.new-login .logo {
	left: 47%;
}

.half-control .checkbox{
	margin-top: 0 !important;
}

.float-container h6{
	margin-bottom: 30px !important;
}

.select2-container{
	width: 100%;
}